
<div class="container">
  <div class="row">

    <div class="col-4 jumbotron">

      <h2 class="text-center">New Gamer</h2>

      <hr>

      <div class="col-md-12">
        <label for="firstName">First Name*</label>
        <input #firstName type="text" class="form-control" id="firstName" placeholder="Jorge" required>
      </div>

      <div class="col-md-12">
        <label for="lastName">Last Name*</label>
        <input #lastName type="text" class="form-control" id="lastName" placeholder="Fernandes" required>
      </div>

      <div class="col-md-12">
        <label for="victories">Victories</label>
        <input #victories type="number" class="form-control" id="victories" placeholder="0" required>
      </div>

      <div class="col-md-12">
        <label for="matches">Matches</label>
        <input #matches type="number" class="form-control" id="matches" placeholder="0" required>
      </div>

      <hr>

      <button
        class="btn btn-primary btn-lg btn-block"
        (click)="addGamer(firstName.value, lastName.value, victories.value, matches.value);
                 firstName.value=''; lastName.value=''; victories.value=0; matches.value=0; ">
        Add the gamer
      </button>
    </div>

    <div class="col">

    <div class="col-20 jumbotron">

      <h2 class="text-center">Gamers</h2>

      <ol class="list-group mb-3">
        <li *ngFor="let gamer of gamers"
            class="list-group-item d-flex justify-content-between lh-condensed"
            [class.selected]="gamer === selectedGamer"
            (click)="onSelect(gamer)">

            <span> {{gamer.firstName}} {{gamer.lastName}} </span> {{gamer.victories}} / {{gamer.matches}}

            <button class="add" title="Add one Victory" (click)="addVictoryAndMatchByOne(gamer)">+1 Victory and Match</button>
            <button class="add" title="Add one Match" (click)="addMatchByOne(gamer)">+1 Match</button>
        </li>
      </ol>
    </div>
  </div>
</div>