.selected {
    background-color: #CFD8DC !important;
    color: white;
}

button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
}

button:hover {
    background-color: #cfd8dc;
}

button.add {
    position: relative;
    background-color: gray !important;
    color: white;
}